body {
    background-color: #2c3e50; /* Un tono oscuro para que el tablero resalte */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

#juego-contenedor {
    position: relative;
    width: 90vmin; /* Se ajusta al tamaño de la pantalla del móvil */
    height: 90vmin;
}

#juego-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Preparando el espacio para las fichas (lo usaremos luego) */
.ficha {
    position: absolute;
    width: 8%; /* Tamaño relativo a la casilla */
    transition: all 0.3s ease;
  }

